.background {
  background-image: url("../assets/Login.jpeg");
  background-size: cover; /* Das Bild soll den gesamten Hintergrund abdecken */
  background-repeat: no-repeat; /* Das Bild nicht wiederholen */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91.1vh; /* irgendwann nochmal richtig machen*/
  padding: auto;
}

h1 {
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 0%;
}

.card-body {
  display: grid;
}
